mixin video(info)
    h4 
        a(href=`/videos/${info.id}`)=info.title 
    ul      
        li Description: #{info.description}
        li Posted #{info.createdAt}
        li rating : #{info.meta.rating}
        li views : #{info.meta.views}