extends base.pug

block content
    //- h1=video.title
    p=video.description
    p=video.hashtags
    div
        small=video.createdAt
    br
    div
        a(href=`${video.id}/edit`) Edit Video
    div 
        a(href=`${video.id}/delete`) Delete Video
    
    